<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <div class="card ms-5 mt-4">
                <div class="card-body">
                    <form action="/add-friends" method="post">
                        <div class="form-group mb-2">
                            {{#if hasError}}<p class="text-danger m-auto">{{errorMessage}}</p>{{/if}}
                            <label class="form-label">Usuario: </label>
                            <input type="text" name="username" id="username" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary w-25">Agregar</button>
                        <a href="/friends" class="btn btn-danger w-25">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>