 <div class="loginRegister">
        <main>
            <form action="" class="formLogin">
                <h1>Hello again!</h1>
                <span>Welcome back you've been missed!</span>
                <div class="emailDiv">
                    <label for="Email">Email</label>
                    <input type="email" class="email" name="Email" id="" placeholder="Enter your email">
                </div>
            <div class="passDiv">
                <label for="Password">Password</label>
                <input type="password" class="pass" name="Password" id="" placeholder="Enter your password">
            </div>
                <span class="forgotPass">Forgot password</span>
                <button class="signIn">Sign in</button>
                <span class="singUpSpan">Don't have an account? <a href="http://" >Sign Up</a></span>

            </form>
            <div class="loginImg">
                <img src="imgs/social.jpeg" alt="" srcset="">
            </div>
        </main>
    </div>